@page
@model Razor_PagesMovie.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>